/*
Colors
rgba(0,113,188,1) blue
rgba(0,28,47,1) dark blue
rgba(0,57,94,1) less dark blue
rgba(11,71,11,1) green
*/

/*******************************************************************/ 
/* 			GLOBAL ITEMS 		 		/
/*******************************************************************/
*{
	margin:0;
	padding:0; }

html, body{
	background:#eaeaea;
	color: rgba(0,28,47,1);
	font-size:18px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	height: 100%;
}

.title {
	color: rgba(0,57,94,1);
}

.button {
	text-decoration: none;
	color: rgba(0,113,188,1);
	border: 4px solid rgba(0,113,188,1);
	font-size: 16pt;
	font-weight: bold;
	padding: 15px;
	transition: 1s;
}
.button:hover {
	background-color: rgba(0,113,188,0.3);
	transition: 1s;
}

.logo {
	border-bottom: 4px solid rgba(0,28,47,1);
}

/*******************************************************************/ 
/* 			Layout 		 		/
/*******************************************************************/
.middle {
	width: 90%;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 50px;
}

/*******************************************************************/ 
/* 			Index Page 		 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Extra Page		 		/
/*******************************************************************/
paragraph {
	font-size: 12px;
}


/*******************************************************************/ 
/* 			Level 1, 2, 3, 4, 5	 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Navigation		 		/
/*******************************************************************/
