/*
Colors
rgba (0.113.188.1) 
rgba (0.57.94.1) 
rgba (0.28.47.1) 
rgba (11.71.111)
*/

/*******************************************************************/ 
/* 			GLOBAL ITEMS 		 		/
/*******************************************************************/
*{
	margin:0;
	padding:0; }

body{
	background:#eaeaea;
	color:#fff;
	font-size:18px;
	font-family: 'Exo 2', sans-serif;
}

a{
	color:#34495e;
	background-color: red;
}
.button {

}

/*******************************************************************/ 
/* 			Layout 		 		/
/*******************************************************************/
.middle {
	background-color: red;
	margin-left: 5%;
	margin: 5%;
	width: 90%;
	text-align: center;
}

/*******************************************************************/ 
/* 			Index Page 		 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Extra Page		 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Level 1, 2, 3, 4, 5	 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Navigation		 		/
/*******************************************************************/
