/*
Colors
rgba(0,113,188,1) light blue 
rgba(0,28,47,1) dark blue
rgba(0,57,94,1) less dark blue
rgba(0,90,160,1) blue
*/

/*******************************************************************/ 
/* 			GLOBAL ITEMS 		 		/
/*******************************************************************/
*{
	margin:0;
	padding:0; }

html, body{
	color: rgba(0,28,47,1);
	font-size:18px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
p, h1, h2, h3, h4, h5, h6, a, ul, li {
    font-family: 'Raleway', sans-serif;
} 

.title {
	color: rgba(0,57,94,1);
	margin-top: 75px;
	margin-bottom: 75px;
	font-size: 2.5em;
}

.button {
  margin-top: -8px;
  display: inline-block;
  width: 90%;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(0,90,160,1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgba(0,57,94,1) }

.button:active {
  background-color: rgba(0,57,94,1) ;
  box-shadow: 0 5px rgba(0,28,47,1);
  transform: translateY(4px);
}


.logo {
	width: 20%;
	padding-left: 50%;
	margin-left: -140px;
}

/*******************************************************************/ 
/* 			Layout 		 		/
/*******************************************************************/
.middle {
	width: 90%;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}

/*******************************************************************/ 
/* 			Index Page 		 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Extra Page		 		/
/*******************************************************************/




/*******************************************************************/ 
/* 			Level 1, 2, 3, 4, 5	 		/
/*******************************************************************/



/*******************************************************************/ 
/* 			Navigation		 		/
/*******************************************************************/
.level {
	width: 85%;
	cursor: pointer;
	transition: 1s;
}
.hover {
	width: 101%;
	margin-top: -5%;
	margin-left: -5%;
}
.one {
	margin-top: 27%;
	margin-right: 2%

}
.two {
		margin-top: 22.5%;
}
.three {
		margin-top: 16%;
}
.four {
		margin-top: 6.5%;
}
.five {
}

nav {
	width: 80%;
	display:flex;
	margin-left: 12%;
}



/*******************************************************************/ 
/* 			mediaqueri		 		/
/*******************************************************************/
@media screen and (max-width: 768px) {

.logo {
	width: 40%;
	padding-left: 50%;
	margin-left: -140px;
}
	.button {
  margin-top: -8px;
  padding: 15px 0;
	}
	.title {
	color: rgba(0,57,94,1);
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 2.5em;
}
}
@media screen and (min-width: 768px) {
	.button {
  margin-top: -8px;
  padding: 15px 105px;
  width: auto;
	}
}
